[submodule "vim/bundle/vim-autoformat"]
	path = vim/bundle/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "vim/bundle/--force"]
	path = vim/bundle/--force
	url = https://github.com/xavierd/clang_complete.git
